{% block content %}
<div id="content-wrapper">
    <div class="container-fluid">

        <!-- <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">List Of Cars</a>
            </li>
        </ol> -->
        <h1 class="text-center">Customer List</h1>
        <div class="card mb-3">
            <div class="row">
                <div class="col-sm-9">
                    <form method="GET" action="{% url 'customer_list' %}">
                        <div class="form-inline d-flex align-items-center">
                            <button type="button" class="bs-modal mr-2 ml-2 btn btn-primary"
                                    data-form-url="{% url 'create_customer' %}">
                                <span class="fa fa-plus"> Add new customer</span>
                            </button>

                            <select class="form-control mr-2" id="OrderFormControlSelect" name="order-list">
                                <option value="1" {% if orderType == '1' %}selected{% endif %}>Sort by id </option>
                                <option value="2" {% if orderType == '2' %}selected{% endif %}>Sort by owner name
                                </option>
                                <option value="3" {% if orderType == '3' %}selected{% endif %}>Sort by register date
                                </option>
                            </select>

                            <button type="submit" class="btn btn-sm btn-secondary mr-2" id="sortButton">
                                Sort
                            </button>
                            <input type="text" class="form-control" name="search" placeholder="Search"
                                   value="{{ search_query }}">
                            <button type="submit" class="btn btn-sm btn-primary ml-2" id="searchButton">
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-header">
                <i class="fas fa-table"></i>
                Information
            </div>
            <!--  -->
            <div class="card-body">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th> No</th>
                        <th> First Name</th>
                        <th> Last Name</th>
                        <th> Phone Number</th>
                        <th> Card Number</th>
                        <th> Register Date</th>
                        <th> Action </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for customer in customers %}
                    <tr>
                        <td>{{ forloop.counter0 |add:page_obj.start_index }}</td>
                        <td>{{ customer.first_name }}</td>
                        <td>{{ customer.last_name }}</td>
                        <td>{{ customer.phone_number }}</td>
                        <td>{{ customer.card_number}}</td>
                        <td>{{ customer.reg_date}}</td>

                        <td>
                            <button type="button" class="bs-modal read-book btn btn-sm btn-primary"
                                    data-form-url="{% url 'customer_view' customer.pk %}">
                                <span class=" fa fa-eye">View</span>
                            </button>


                            <button type="button" class="update-book btn btn-sm btn-warning"
                                    data-form-url="{% url 'customer_update' customer.pk %}">
                                <span class="fa fa-pencil"> Edit</span>
                            </button>
                            {% if customer.user is None %}
                            <button type="button" class="bs-modal delete-book btn btn-sm btn-danger"
                                    data-form-url="{% url 'customer_delete' customer.pk %}">
                                <span class="fa fa-trash"> Delete</span>
                            </button>
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No customer found.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&order-list={{ orderType }}&search={{ search_query }}">&laquo; Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&laquo; Previous</span>
                    </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}&order-list={{ orderType }}&search={{ search_query }}">{{ i }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&order-list={{ orderType }}&search={{ search_query }}">Next &raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next &raquo;</span>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}