<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="paymentModalLabel">Thanh toán</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Thông tin khách hàng: {{ customer }}</p>
                <p>Số tiền: {{ amount }}</p>
                <p>Thời gian đỗ: {{ parking_time }}</p>
                <button type="button" class="btn btn-primary" id="directPaymentBtn">Thanh toán trực tiếp</button>
                <button type="button" class="btn btn-primary" id="onlinePaymentBtn">Thanh toán online</button>
            </div>
        </div>
    </div>
</div>
