{% extends 'base.html' %}

{% block body %}

{% include "_modal.html" %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3">
            <div class="col-12 mb-3">
                {% include "invoice/invoice_table.html" %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock body %}

{% block extrascripts %}
<script type="text/javascript">
      $(function () {

        var asyncSuccessMessageUpdate = [
            "<div ",
            "style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;' ",
            "class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'>",
            "Success: Data was updated.",
            "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>",
            "<span aria-hidden='true'>&times;</span>",
            "</button>",
            "</div>",
            "<script>",
            "$('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});",
            "<\/script>"
          ].join("");


      function updateCarModalForm() {
            $(".update-car").each(function () {
              $(this).modalForm({
                formURL: $(this).data("form-url"),
                asyncUpdate: true,
                asyncSettings: {
                  closeOnSubmit: false,
                  successMessage: asyncSuccessMessageUpdate,
                  dataUrl: "cars/",
                  dataElementId: "#books-table",
                  dataKey: "table",
                  addModalFormFunction: updateCarModalForm
                }
              });
            });
          }
          updateCarModalForm();
          $(".bs-modal").each(function () {

              $(this).modalForm({formURL: $(this).data("form-url")});
          });

          $(".alert").fadeTo(2000, 500).slideUp(500, function () {
              $(".alert").slideUp(500);
          });
      });
  </script>
{% endblock extrascripts %}
