{% block content %}
<div id="content-wrapper">
    <div class="container-fluid">

        <!-- <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">List Of Cars</a>
            </li>
        </ol> -->
        <h1 class="text-center">History Parking List</h1>
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-9">
                        <form method="GET" action="{% url 'parking_record_list' %}">
                            <div class="form-inline d-flex align-items-center">
                                <button type="button" class="bs-modal btn btn-primary mr-2" id="addParkingRecordBtn"
                                        data-form-url="{% url 'create_parking_record' %}">
                                    <span class="fa fa-plus"> Add parking record</span>
                                </button>

                                <select class="form-control mr-2" id="OrderFormControlSelect" name="order-list">
                                    <option value="1" {% if orderType == '1' %}selected{% endif %}>Sort by id </option>
                                    <option value="2" {% if orderType == '2' %}selected{% endif %}>Sort by entry time
                                    </option>
                                    <option value="3" {% if orderType == '3' %}selected{% endif %}>Sort by exit time
                                    </option>
                                    <option value="4" {% if orderType == '4' %}selected{% endif %}>Sort by cost
                                    </option>
                                    <option value="5" {% if orderType == '5' %}selected{% endif %}>Sort by paid
                                    </option>
                                </select>

                                <button type="submit" class="btn btn-sm btn-secondary mr-2" id="sortButton">
                                    Sort
                                </button>
                                <input type="text" class="form-control" placeholder="Search"                                       >
                                <button type="button" class="btn btn-sm btn-primary ml-2" id="searchButton">
                                    Search
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-header">
                <i class="fas fa-table"></i>
                Information
            </div>
            <!--  -->
            <div class="card-body">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Car number</th>
                            <th>Entry time</th>
                            <th>Exit time</th>
                            <th>Parking Slot</th>
                            <th>Total cost (VND) </th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pr in parking_records %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ pr.car.license_plate }}</td>
                            <td>{{ pr.entry_time}}</td>
                            <td>{{ pr.exit_time}}</td>
                            <td><span class="badge badge-primary">{{ pr.parking_slot.slot_number }}</span></td>
                            <td>{{ pr.total_cost }}</td>
                            {% if pr.is_paid %}
                            <td>Đã thanh toán</td>
                            {% else %}
                            <td>Chưa thanh toán</td>
                            {% endif %}
                            <td>
                                <button type="button" class=" bs-modal btn btn-sm btn-primary"
                                        data-form-url="{% url 'parking_record_detail' pr.pk %}">
                                    <span class="fa fa-eye"> View</span>
                                </button>

                                <button type="button" class="update-parking-record bs-modal btn btn-sm btn-warning"
                                    data-form-url="{% url 'update_parking_record' pr.pk %}">
                                    <span class="fa fa-pencil"> Edit</span>
                                </button>

                                <button type="button" class="bs-modal btn btn-sm btn-danger"
                                    data-form-url="{% url 'delete_parking_record' pr.id %}">
                                    <span class="fa fa-trash"> Delete</span>
                                </button>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">No parking record found.</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&laquo; Previous</span>
                    </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next &raquo;</span>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}

            </div>
        </div>
    </div>

</div>

{% endblock %}