{% block content %}
<div id="content-wrapper">
    <div class="container-fluid">
        <h1 class="text-center">Car List</h1>
        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-9">
                        <form method="GET" action="{% url 'car_list' %}">
                            <div class="form-inline d-flex align-items-center">
                                <button type="button" class="bs-modal btn btn-primary mr-2"
                                        data-form-url="{% url 'create_car' %}">
                                    <span class="fa fa-plus"> Add new car</span>
                                </button>

                                <select class="form-control mr-2" id="OrderFormControlSelect" name="order-list" value="{{orderType}}">
                                    <option value="1" {% if orderType == '1' %}selected{% endif %}>Sort by id </option>
                                    <option value="2" {% if orderType == '2' %}selected{% endif %}>Sort by car name
                                    </option>
                                    <option value="3" {% if orderType == '3' %}selected{% endif %}>Sort by date register
                                    </option>
                                    <option value="4" {% if orderType == '4' %}selected{% endif %}>Sort by owner name
                                    </option>
                                </select>

                                <button type="submit" class="btn btn-sm btn-secondary mr-2" id="sortButton">
                                    Sort
                                </button>
                                <input type="text" class="form-control" name="search" placeholder="Search"
                                       value="{{ search_query }}">
                                <button type="submit" class="btn btn-sm btn-primary ml-2" id="searchButton">
                                    Search
                                </button>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" id="status-all" value="" {% if status_filter is None %}checked{% endif %}>
                                <label class="form-check-label" for="status-all">All</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" id="status-activated" value="activated" {% if status_filter == 'activated' %}checked{% endif %}>
                                <label class="form-check-label" for="status-activated">Activated</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" id="status-deactivated" value="deactivated" {% if status_filter == 'deactivated' %}checked{% endif %}>
                                <label class="form-check-label" for="status-deactivated">Deactivated</label>
                            </div>
                            <button type="submit" class="btn btn-sm btn-primary ml-2" id="filterButton">
                                Filter
                            </button>
                        </form>


                    </div>
                </div>
            </div>
            <div class="card-header">
                <i class="fas fa-table"></i>
                Information
            </div>
            <!--  -->
            <div class="card-body">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">License plate</th>
                        <th scope="col">Car model</th>
                        <th scope="col">Car color</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Active status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for car in cars %}
                    <tr>
                        <td>{{ forloop.counter0 |add:page_obj.start_index }}</td>
                        <td>{{ car.license_plate }}</td>
                        <td>{{ car.car_model }}</td>
                        <td>{{ car.car_color }}</td>
                        <td>{{ car.owner.first_name }} {{ car.owner.last_name }}</td>
                        {% if car.is_active %}
                        <td><span class="badge badge-success">Đã active</span></td>
                        {% else %}
                        <td><span class="badge badge-danger"> Chưa active</span></td>
                        {% endif  %}
                        <td>
                            {% if not car.is_active %}
                            <button type="button" class="bs-modal btn btn-sm btn-light"
                                    data-form-url="{% url 'active_car' car.pk %}">
                                <span class="fa fa-pencil"> Active</span>
                            </button>
                            {% else %}
                            <button type="button" class="bs-modal btn btn-sm btn-dark"
                                    data-form-url="{% url 'inactive_car' car.pk %}">
                                <span class="fa fa-pencil"> Inactive </span>
                            </button>
                            {% endif %}
                            <button type="button" class="bs-modal btn btn-sm btn-primary"
                                    data-toggle="modal" data-target="#car-update-modal"
                                    data-form-url="{% url 'car_view' car.pk %}">
                                <span class=" fa fa-eye">View</span>
                            </button>
                            <button type="button" class="bs-modal car-update btn btn-sm btn-warning"
                                    data-form-url="{% url 'car_update' car.pk %}">
                                <span class="fa fa-pencil"> Edit</span>
                            </button>
                            <button type="button" class="bs-modal btn btn-sm btn-danger"
                                    data-form-url="{% url 'car_delete' car.pk %}">
                                <span class="fa fa-trash"> Delete</span>
                            </button>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">No cars found.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if is_paginated %}
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&order-list={{ orderType }}&search={{ search_query }}">&laquo; Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">&laquo; Previous</span>
                    </li>
                    {% endif %}
                    {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                    {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}&order-list={{ orderType }}&search={{ search_query }}">{{ i }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&order-list={{ orderType }}&search={{ search_query }}">Next &raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next &raquo;</span>
                    </li>
                    {% endif %}
                </ul>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}