{% load widget_tweaks %}

<form method="post" action="">
    {% csrf_token %}

    <div class="modal-header">
        <h3 class="modal-title">Hủy đăng ký xe</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <p>Are you sure you want to delete car with license number
            <strong>{{ car.license_plate }}</strong>?</p>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>

</form>